* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  font-weight: 300; }

a {
  text-decoration: none;
  color: #202020; }

main {
  width: 1120px;
  margin: 140px auto 20px;
  overflow: hidden; }

.recipes, .sauceDetail-photos, .sauceDetail-recipes, .sauceDetail-comments, .ingredients, .photos, .users {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
  text-align: center; }

.sauceDetail-header {
  clear: both;
  margin: 2em 0 0;
  color: #646464;
  text-align: center;
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 0.0625em; }

.recipe, .sauceDetail-photo, .ingredient, .photo, .user, .sauceDetail-comment {
  display: inline-block;
  position: relative;
  margin: 20px;
  padding: 0;
  overflow: hidden; }

.recipe, .sauceDetail-photo, .ingredient, .photo, .user {
  width: 240px;
  height: 240px;
  border-radius: 50%; }
  @media (max-width: 1024px) {
    %circleItem {
      height: 200px;
      width: 200px; } }
  @media (max-width: 800px) {
    %circleItem {
      height: 160px;
      width: 160px; } }
  @media (max-width: 480px) {
    %circleItem {
      height: 160px;
      width: 160px; } }

.recipe, .sauceDetail-photo, .ingredient, .photo, .user {
  cursor: pointer; }

.recipeLink, .ingredientLink {
  display: block;
  height: 100%; }

.ingredientName, .userName, .recipeName, .sauceDetail-photoAuthor, .photoName {
  position: absolute;
  bottom: 48%;
  left: 5%;
  width: 90%;
  font-size: 20px;
  line-height: 1.2em;
  text-transform: lowercase;
  text-align: center;
  letter-spacing: 0.0625em; }

.ingredientNameBefore, .userName:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; }

.ingredientName, .userName {
  position: static;
  display: inline-block;
  vertical-align: middle;
  padding: 0 10%; }

.recipeAuthor, .photoAuthor {
  position: absolute;
  top: 54%;
  left: 12%;
  width: 76%;
  font-size: 16px;
  line-height: 1.2em;
  text-transform: lowercase;
  text-align: center;
  letter-spacing: 0.0625em; }

.recipeBackground, .sauceDetail-overlay, .ingredientBackground, .overlay, .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

header {
  position: fixed;
  top: 0;
  height: 140px;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: 2; }

.menu {
  padding: 0 160px;
  overflow: hidden;
  list-style: none; }

.menuItem {
  float: left;
  width: 16.66%;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  font-weight: 400; }

.menuItem:nth-of-type(n+4) {
  text-align: right; }

.breadcrumbs {
  float: left;
  height: 100px;
  margin: 0 0 0 160px;
  padding: 0;
  line-height: 80px;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 0.0625em;
  list-style: none; }

.breadcrumb {
  display: inline-block;
  margin: 0;
  padding: 0;
  pointer: default; }

.breadcrumb.active, .breadcrumb:hover {
  color: #fe377a; }

#user {
  float: right;
  margin: 0 160px 0 0;
  line-height: 80px;
  font-size: 24px;
  letter-spacing: 0.0625em;
  font-weight: 300; }

.menuButton {
  position: absolute;
  left: 50%;
  top: 10px;
  height: 80px;
  width: 80px;
  margin: 0 -40px; }

.recipeName {
  color: #202020; }

.recipeAuthor {
  color: #202020; }

.recipeBackground {
  z-index: -1; }

.sauceDetail-zen {
  float: left;
  width: 32%;
  margin: 0 8%; }

.sauceDetail-info {
  float: left;
  width: 36%;
  margin: 20px 8%; }

.sauceDetail-comments {
  width: 40em;
  margin: 0 auto; }

.sauceDetail-comment {
  width: 40em;
  margin: 20px 0; }

.sauceDetail-commentBody {
  color: #202020;
  font-size: 16px;
  font-weight: 300;
  text-justify: justify;
  letter-spacing: 0.0625em; }

.sauceDetail-commentAuthor {
  float: left;
  margin-top: 0.5em;
  color: #646464;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 0.0625em; }

.sauceDetail-commentTime {
  float: right;
  margin-top: 0.5em;
  color: #646464;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 0.0625em; }

.sauceDetail-photo {
  background-position: center;
  background-size: 320px auto; }

.sauceDetail-photoAuthor {
  color: white; }

.sauceDetail-overlay {
  display: none;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5); }

.sauceDetail-photo:hover .sauceDetail-overlay {
  display: block; }

.ingredient {
  width: 160px;
  height: 160px;
  margin: 12px; }

.ingredientName {
  font-size: 1.5em; }

.ingredientBackground {
  z-index: -1; }

.photo {
  background-position: center;
  background-size: 320px auto; }

.photoName {
  color: white; }

.photoAuthor {
  color: white; }

.overlay {
  display: none;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5); }

.photo:hover .overlay {
  display: block; }

.user {
  background-position: center;
  background-size: 240px auto; }

.userName:before {
  content: ''; }

.userName {
  color: white; }

.overlay {
  display: none;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5); }

.user:hover .overlay {
  display: block; }
