html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 300;

  @include bp(tablet-landscape) {
    font-size: 12px;
  }

  @include bp(phone) {
    font-size: 9px;
  }
}

a {
  text-decoration: none;
  color: #202020;
}

main {
  @extend %container;
  margin: 80px auto 20px;
  overflow: hidden;
  text-align: center;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}