
%collection {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
  text-align: center;
}

%collectionHeader {
  clear: both;
  margin: 2em 0 0;
  color: #646464;
  text-align: center;
  font-size: 24px;
  font-weight: 100;
  letter-spacing: .0625em;
}

%collectionItem {
  display: inline-block;
  position: relative;
  margin: 20px;
  padding: 0;
  overflow: hidden;
}

%circleItem {
  width: 240px;
  height: 240px;
  border-radius: 50%;

  @include bp(tablet-landscape) {
    height: 200px;
    width: 200px;
  }

  @include bp(tablet-portrait) {
    height: 160px;
    width: 160px;
  }

  @include bp(phone) {
    height: 160px;
    width: 160px;
  }
}

%gridItem {
  @extend %collectionItem;
  @extend %circleItem;
  cursor: pointer;
}

%listItem {
  @extend %collectionItem;
  clear: both;
}

%collectionItemTitle {
  position: absolute;
  bottom: 48%;
  left: 10%;
  width: 80%;
  font-size: 20px;
  line-height: 1.2em;
  text-transform: lowercase;
  text-align: center;
  letter-spacing: 0.0625em;
}

%collectionItemTitleCenteredBefore {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

%collectionItemTitleCentered {
  @extend %collectionItemTitle;
  position: static;
  display: inline-block;
  vertical-align: middle;
  padding: 0 10%;
}

%collectionItemSubtitle {
  position: absolute;
  top: 54%;
  left: 12%;
  width: 76%;
  font-size: 16px;
  line-height: 1.2em;
  text-transform: lowercase;
  text-align: center;
  letter-spacing: 0.0625em;
}

%collectionItemImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}