
%collection {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
  text-align: center;
}

%collectionHeader {
  clear: both;
  margin: 2em 0 0;
  color: #646464;
  text-align: center;
  font-size: 24px;
  font-weight: 100;
  letter-spacing: .0625em;
}

%collectionItem {
  display: inline-block;
  position: relative;
  padding: 0;
  overflow: hidden;
}

%circleItem {
  width: 15em;
  height: 15em;
  margin: 1em;
  border-radius: 50%;
}

%gridItem {
  @extend %collectionItem;
  @extend %circleItem;
  cursor: pointer;
}

%listItem {
  @extend %collectionItem;
  margin: 20px;
  clear: both;
}

%collectionItemLink {
  display: block;
  height: 100%;
}

%collectionItemTitle {
  position: absolute;
  bottom: 4.8em;
  left: 1em;
  width: 8em;
  font-size: 1.5em;
  line-height: 1.2em;
  text-transform: lowercase;
  text-align: center;
  letter-spacing: 0.0625em;
}

%collectionItemTitleCenteredBefore {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

%collectionItemTitleCentered {
  @extend %collectionItemTitle;
  position: static;
  display: inline-block;
  vertical-align: middle;
  padding: 0 10%;
}

%collectionItemSubtitle {
  position: absolute;
  top: 6.4em;
  left: 2em;
  width: 8em;
  font-size: 1.25em;
  line-height: 1.2em;
  text-transform: lowercase;
  text-align: center;
  letter-spacing: 0.0625em;
}

%collectionItemImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

%collectionItemOverlay {
  @extend %collectionItemImage;
  display: none;
  border-radius: 50%;
  background: $overlayLight;
}