<mainmenu>
    <li class="menuItem">
        <a href="sauce">sauces</a>
    </li>
    <li class="menuItem">
        <a href="flavor">flavors</a>
    </li>
    <li class="menuItem">
        <a href="gallery">gallery</a>
    </li>
    <li class="menuItem">
        <a href="user">users</a>
    </li>
    <li class="menuItem">
        <a href="lab">lab</a>
    </li>
    <li class="menuItem">
        <a href="about">about</a>
    </li>
    <li class="menuButton"></li> 
</mainmenu>
<headertitle></headertitle>
<h2 id="user">
    <a href="">login</a>
</h2>