.articles {
  @extend %collection;
}

.article {
  @extend %listItem;
}

.article:nth-child(even) .articleImage {
  margin-right: 40px;
}

.article:nth-child(odd) .articleImage {
  float: right;
  margin-left: 40px;
}

.articleImage {
  @extend %circleItem;
  float: left;
  background-size: 100%;
  background-position: center;
}

.articleTitle {
  font-size: 1.6em;
  line-height: 1.6em;
  margin: 0 0 0.5em;
  font-weight: 300;
  letter-spacing: 0.0625em;
  text-align: left;
}

.articleLink {
  float: right;
  margin-left: 1.6em;
  font-weight: 200;
  letter-spacing: .0625em;
}

.article p {
  text-align: justify;
  font-size: 1.25em;
  line-height: 1.6em;
  margin: 0.5em 0;
}

.article p a {
  text-decoration: underline;
}