.event {
  @extend %gridItem;
  background-position: center;
  background-size: auto 240px;
}

.eventName {
  @extend %collectionItemTitle;
  color: $textColorDark;
}

.eventDate {
  @extend %collectionItemSubtitle;
  color: $textColorDark;
}

.overlay {
  @extend %collectionItemOverlay;
}

.event.current .overlay,
.event:hover .overlay {
  display: block;
}