.photos {
  @extend %collection;
}

.photo {
  @extend %gridItem;
  background-position: center;
  background-size: 320px auto;
}

.photoName {
  @extend %collectionItemTitle;
  color: $textColorDark;
}

.photoAuthor {
  @extend %collectionItemSubtitle;
  color: $textColorDark;
}

.overlay {
  @extend %collectionItemImage;
  display: none;
  border-radius: 50%;
  background: $overlayLight;
}

.photo:hover .overlay {
  display: block;
}