header {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background: $overlayLight;
  z-index: 2;
}

menu {
  margin: 0;
  padding: 0 160px;
  overflow: hidden;
  list-style: none;
}

.menuItem {
  float: left;
  width: 16.66%;
  height: 32px;
  line-height: 32px;
  font-size: 1.2em;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  font-weight: 300;
}

.menuItem:nth-of-type(n+4) {
  text-align: right;
}

.breadcrumbs {
  float: left;
  height: 80px;
  margin: 0 0 0 160px;
  padding: 0;
  line-height: 80px;
  font-size: 2em;
  font-weight: 200;
  letter-spacing: 0.0625em;
  list-style: none;
}

.breadcrumbs.menuIsVisible {
  height: 44px;
  line-height: 44px;
}

.breadcrumb {
  display: inline-block;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.breadcrumb.active {
  font-weight: 300;
  cursor: default;
}

.userInfo {
  float: right;
  margin: 0 160px 0 0;
  line-height: 80px;
  letter-spacing: 0.0625em;
  font-size: 1em;
  font-weight: 200;
}

.userInfo.menuIsVisible {
  line-height: 44px;
}

.login,
.currentUser {
  margin-left: 1em;
  font-size: 1.8em;
  font-weight: 200;
  cursor: pointer;
}

.menuButton {
  position: absolute;
  left: 50%;
  top: 0;
  height: 32px;
  width: 64px;
  margin: 0 -32px;
  border: none;
  outline: none;
  background: none;
  text-align: center;
  cursor: pointer;
}

.menuButtonCircle {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 10px 2px;
  border-radius: 50%;
  background: #646464;
}

.menuIsVisible .menuButtonCircle {
  margin: 10px 4px;
}