header {
  position: fixed;
  top: 0;
  height: 6em;
  width: 100%;
  background: $overlayLight;
  z-index: 2;
}

menu {
  height: 2.5em;
  margin: 0;
  padding: 0 10%;
  overflow: hidden;
  list-style: none;
  opacity: 1;
  @include transition-property (all);
  @include transition-duration(0.25s);
  @include transition-timing-function(ease);
}

menu.ng-hide {
  display: block !important;
  opacity: 0;
  height: 0;
}

.menuItem {
  float: left;
  width: 16.66%;
  height: 2.5em;
  line-height: 2.5em;
  font-size: 1em;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  font-weight: 300;
}

.menuItem:nth-of-type(n+4) {
  text-align: right;
}

.breadcrumbs {
  float: left;
  height: 3.5em;
  margin: 0 0 0 10%;
  padding: 0;
  line-height: 3.5em;
  font-size: 1.7em;
  font-weight: 200;
  letter-spacing: 0.0625em;
  list-style: none;
  @include transition-property (all);
  @include transition-duration(0.25s);
  @include transition-timing-function(ease);
}

.breadcrumbs.menuIsVisible {
  height: 1.8em;
  line-height: 1.8em;
}

.breadcrumb {
  display: inline-block;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.breadcrumb.active {
  font-weight: 300;
  cursor: default;
}

.userInfo {
  float: right;
  margin: 0 10% 0 0;
  line-height: 6em;
  letter-spacing: 0.0625em;
  font-size: 1em;
  font-weight: 200;
  @include transition-property (all);
  @include transition-duration(0.25s);
  @include transition-timing-function(ease);
}

.userInfo.menuIsVisible {
  line-height: 3.1em;
}

.login,
.currentUser {
  margin-left: 1em;
  font-size: 1.5em;
  font-weight: 200;
  cursor: pointer;
}

.menuButton {
  position: absolute;
  left: 50%;
  top: 0;
  height: 2.5em;
  width: 6em;
  margin: 0 -3em;
  border: none;
  outline: none;
  background: none;
  text-align: center;
  cursor: pointer;
}

.menuButtonCircle {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 10px 2px;
  border-radius: 50%;
  background: #646464;
  @include transition-property (all);
  @include transition-duration(0.5s);
  @include transition-timing-function(ease);
}

.menuIsVisible .menuButtonCircle {
  margin: 10px 4px;
}