.labList {
  @extend %collection;
}

.labList h3 {
  font-size: 24px;
  line-height: 1.6em;
  margin: 0 0 0.5em;
  font-weight: 300;
  letter-spacing: 0.0625em;
  text-align: left;
}

.labLink {
  float: right;
  font-weight: 200;
  letter-spacing: .0625em;
}

.labList p {
  text-align: justify;
  font-size: 18px;
  line-height: 1.6em;
  margin: 0.5em 0;
}

.lab {
  @extend %listItem;
}

.labIcon {
  @extend %circleItem;
  float: left;
  background: hotpink;
  background-size: 260px 240px;
  background-position: center;
}

.lab:nth-child(even) .labIcon {
  margin-right: 40px;
}

.lab:nth-child(odd) .labIcon {
  float: right;
  margin-left: 40px;
}

.event {
  @extend %gridItem;
  background-position: center;
  background-size: auto 240px;
}

.eventName {
  @extend %collectionItemTitle;
}

.eventDate {
  @extend %collectionItemSubtitle;
}

.overlay {
  @extend %collectionItemOverlay;
}

.event.current .overlay,
.event:hover .overlay {
  display: block;
}