.recipes {
  @extend %collection;
}

.recipe {
  @extend %gridItem;
}

.recipeName {
  @extend %collectionItemTitle;
  color: $textColorDark;
}
.recipeAuthor {
  @extend %collectionItemSubtitle;
  color: $textColorDark;
}

.recipeBackground {
  @extend %collectionItemImage;
  z-index: -1;
}

.recipeLink {
	@extend %collectionItemLink
}