.sauceDetail-zen {
  display: inline-block;
  width: 40%;
  vertical-align: top;
}

.sauceDetail-info {
  display: inline-block;
  width: 40%;
  padding: 20px 0 0 40px;
}

.sauceDetail-header {
	@extend %collectionHeader;
}

.sauceDetail-photos,
.sauceDetail-recipes {
  @extend %collection;
}

.sauceDetail-comments {
  @extend %collection;
  width: 40em;
  margin: 0 auto;
}

.sauceDetail-comment {
  @extend %collectionItem;
  width: 40em;
  margin: 20px 0;
}

.sauceDetail-sauceName {
  float: left;
  font-size: 2em;
  margin: 0.5em 0;
  font-weight: 200;
  letter-spacing: 0.0625em;
}

.editSauceButton,
.saveSauceButton,
.cancelEditSauceButton {
  float: right;
  margin: 1em 0 0.5em 0.2em;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font-size: 1.5em;
  font-style: normal;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  letter-spacing: 0.0625em;
  cursor: pointer;
}

.sauceDetail-commentBody {
  color: #202020;
  font-size: 1.5em;
  font-weight: 300;
  text-justify: justify;
  letter-spacing: .0625em;
}

.sauceDetail-commentAuthor {
  float: left;
  clear: both;
  margin: 0.5em 0;
  color: #646464;
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: .0625em;
}

.sauceDetail-commentTime {
  float: right;
  margin: 0.5em 0;
  color: #646464;
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: .0625em;
}

.sauceDetail-photo {
  @extend %gridItem;
  background-position: center;
  background-size: 320px auto;
}

.sauceDetail-photoAuthor {
  @extend %collectionItemTitle;
  color: $textColorLight;
}

.sauceDetail-overlay {
  @extend %collectionItemImage;
  display: none;
  border-radius: 50%;
  background: $overlayDark;
}

.sauceDetail-photo:hover .sauceDetail-overlay {
  display: block;
}

.recipeIngredients {
  clear: both;
}

.recipeIngredient {
  float: left;
  width: 80%;
  min-width: 12em;
  margin: 0.5em 0;
  font-size: 1.4em;
  text-align: left;
  letter-spacing: 0.0625em;
}

.recipeIngredientColor {
  float: left;
  width: 1.25em;
  height: 1.25em;
  margin: 0.1em 0.4em 0 0;
  border: 0.15em solid white;
  border-radius: 50%;
}

.recipeIngredient.selected .recipeIngredientColor {
  background-color: white !important;
}

.recipeIngredient:not(.selected) .recipeIngredientColor {
  border-color: white !important;
}