.users {
  @extend %collection;
}

.user {
  @extend %gridItem;
  background-position: center;
  background-size: 240px auto;
}

.userName:before {
  @extend %collectionItemTitleCenteredBefore;
  content: '';
}

.userName {
  @extend %collectionItemTitleCentered;
  color: $textColorLight;
}

.overlay {
  @extend %collectionItemOverlay;
}

.user:hover .overlay {
  display: block;
}