<menu ng-show="showMenu">
    <li class="menuItem">
        <a ui-sref="sauce">{{'sauces' | translate}}</a>
    </li>
    <li class="menuItem">
        <a ui-sref="flavors">{{'flavors' | translate}}</a>
    </li>
    <li class="menuItem">
        <a ui-sref="gallery">{{'photos' | translate}}</a>
    </li>
    <li class="menuItem">
        <a ui-sref="users">{{'users' | translate}}</a>
    </li>
    <li class="menuItem">
        <a ui-sref="lab">{{'labs' | translate}}</a>
    </li>
    <li class="menuItem">
        <a ui-sref="about">{{'about' | translate}}</a>
    </li>
</menu>
<button class="menuButton" ng-class="{active: showMenu}" ng-click="toggleMenu()"></button>
<headertitle ng-class="{menuIsVisible: showMenu}"></headertitle>
<h2 class="userInfo" ng-class="{menuIsVisible: showMenu}">
    <span class="languageChange" ng-click="changeLanguage('en')">en</span>:<span class="languageChange" ng-click="changeLanguage('cz')">cz</span>
    <a class="login" href="javascript:var facebookConnectLoginWindow = window.open('http://www.opensauce.cz/auth/facebook','facebook', 'align=center,directories=no,height=560,location=no,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no,width=1000'); void(''); facebookConnectLoginWindow.focus();" ng-if="!currentUser">{{'login' | translate}}</a>
    <a class="currentUser" ui-sref="users" ng-if="currentUser">{{currentUser.name}}</a>
</h2>
