<mainmenu>
    <li class="menuItem">
        <a ui-sref="sauce">sauces</a>
    </li>
    <li class="menuItem">
        <a ui-sref="flavor">flavors</a>
    </li>
    <li class="menuItem">
        <a ui-sref="gallery">gallery</a>
    </li>
    <li class="menuItem">
        <a ui-sref="user">users</a>
    </li>
    <li class="menuItem">
        <a ui-sref="lab">lab</a>
    </li>
    <li class="menuItem">
        <a ui-sref="about">about</a>
    </li>
    <li class="menuButton"></li> 
</mainmenu>
<headertitle></headertitle>
<h2 id="user">
    <a href="">login</a>
</h2>