    <ul class="labList">
        <li class="event current" style="background-image: url(http://i1.ytimg.com/vi/CtDv9BsHINY/maxresdefault.jpg)">
            <div class="overlay">
                <div class="eventName">multiplace</div>
                <div class="eventDate">tomorrow</div>
            </div>
        </li>
        <li class="event" style="background-image: url(http://farm3.static.flickr.com/2861/8756529795_f85397cbd4_m.jpg)">
            <div class="overlay">
                <div class="eventName">library of dreams</div>
                <div class="eventDate">11/13/13</div>
            </div>
        </li>
        <li class="event" style="background-image: url(http://i1.ytimg.com/vi/ntz-Uwz86l8/maxresdefault.jpg)">
            <div class="overlay">
                <div class="eventName">enter</div>
                <div class="eventDate">9/11/13</div>
            </div>
        </li>
        <li class="event" style="background-image: url(http://31.media.tumblr.com/f7e73b3ba623a1f22be6092a432c6133/tumblr_inline_n13qtbvBbb1qmkele.png)">
            <div class="overlay">
                <div class="eventName">babelcamp</div>
                <div class="eventDate">1/7/13</div>
            </div>
        </li>
        <li class="lab" ng-repeat="labSection in lab">
            <!-- <div class="labIcon" style="background-image: url({{labSection.image}})"></div> -->
            <h3 class="labTitle">{{labSection.title | contentTranslate}}
                <a class="labLink" ng-repeat="link in labSection.links" href="{{link.address}}">open</a>
            </h3>
            <span class="labDescription" ng-bind-html="labSection.description | contentTranslate"></span>
        </li>
    </ul>