    <ul class="labList">
        <li class="event current" style="background-image: url(http://i1.ytimg.com/vi/CtDv9BsHINY/maxresdefault.jpg)">
            <div class="overlay">
                <div class="eventName">multiplace</div>
                <div class="eventDate">tomorrow</div>
            </div>
        </li>
        <li class="event" style="background-image: url(http://farm3.static.flickr.com/2861/8756529795_f85397cbd4_m.jpg)">
            <div class="overlay">
                <div class="eventName">library of dreams</div>
                <div class="eventDate">11/13/13</div>
            </div>
        </li>
        <li class="event" style="background-image: url(http://i1.ytimg.com/vi/ntz-Uwz86l8/maxresdefault.jpg)">
            <div class="overlay">
                <div class="eventName">enter</div>
                <div class="eventDate">9/11/13</div>
            </div>
        </li>
        <li class="event" style="background-image: url(http://31.media.tumblr.com/f7e73b3ba623a1f22be6092a432c6133/tumblr_inline_n13qtbvBbb1qmkele.png)">
            <div class="overlay">
                <div class="eventName">babelcamp</div>
                <div class="eventDate">1/7/13</div>
            </div>
        </li>
        <li class="lab">
            <div class="labIcon" style="background-image: url(https://opensauce.s3.amazonaws.com/images/re3.jpg)"></div>
            <h3 class="labTitle">zen - technologically meditated</h3>
        <span class="labDescription">
            <p>Opensauce is an open source recipe platform, which allows the HotKarot cravers to program the sauces according to their personal taste. The interface allows virtually anyone to join the HotKarot & OpenSauce project, create new sauces and rate or even edit the already existing ones.</p>
            <p>However, it's not just a mere recipe book what we have here, as the recipe creation occurs in a kind of multi-sensorial style. Every ingredient in the OpenSauce archive is assigned with a unique color and sound value, and the way of thinking about food therefore enters a wholly new level of complexity.</p>
        </span>
        </li>
        <li class="lab">
            <div class="labIcon" style="background-image: url(http://www.hotkarot.cz/images/7.jpg)"></div>
            <h3 class="labTitle">hotkarot riot - technologically mediated riot</h3>
        <span class="labDescription">
            <p>Opensauce is an open source recipe platform, which allows the HotKarot cravers to program the sauces according to their personal taste. The interface allows virtually anyone to join the HotKarot & OpenSauce project, create new sauces and rate or even edit the already existing ones.</p>
            <p>However, it's not just a mere recipe book what we have here, as the recipe creation occurs in a kind of multi-sensorial style. Every ingredient in the OpenSauce archive is assigned with a unique color and sound value, and the way of thinking about food therefore enters a wholly new level of complexity.</p>
        </span>
        </li>
        <li class="lab">
            <div class="labIcon" style="background-image: url(http://www.hotkarot.cz/images/header.jpg)"></div>
            <h3 class="labTitle">eat your tweet - technologically mediated tweet</h3>
        <span class="labDescription">
            <p>Opensauce is an open source recipe platform, which allows the HotKarot cravers to program the sauces according to their personal taste. The interface allows virtually anyone to join the HotKarot & OpenSauce project, create new sauces and rate or even edit the already existing ones.</p>
            <p>However, it's not just a mere recipe book what we have here, as the recipe creation occurs in a kind of multi-sensorial style. Every ingredient in the OpenSauce archive is assigned with a unique color and sound value, and the way of thinking about food therefore enters a wholly new level of complexity.</p>
        </span>
        </li>
    </ul>