    <ul class="labList">
        <li ng-repeat="event in events | limitTo: 4" class="event" style="background-image: url(//graph.facebook.com/{{event.event}}/picture?width=240&height=240)">
            <div class="overlay">
                <div class="eventName">{{event.title}}</div>
                <div class="eventDate">{{event.start | date : 'shortDate'}}</div>
            </div>
        </li>
        <li class="article" ng-repeat="article in lab">
            <h3 class="articleTitle">{{article.title | contentTranslate}}
                <a class="articleLink" ng-repeat="link in article.links" href="{{link.address}}">open</a>
            </h3>
            <span class="articleContent" ng-bind-html="article.description | contentTranslate"></span>
        </li>
    </ul>