<div class="sauceDetail-zen zen" ingredients="recipe.ingredients">
</div>
<div class="sauceDetail-info">
	<div class="sauceDetail-sauceName">{{recipe.title}}</div>
	<button class="editSauceButton" ng-hide="editMode" ng-click="editMode = true">edit</button>
	<button class="saveSauceButton" ng-show="editMode" ng-click="save(recipe)">save</button>
	<button class="cancelEditSauceButton" ng-show="editMode" ng-click="editMode = false">cancel</button>

	<div class="sauceDetail-commentAuthor">{{recipe.account.name}}</div>
	<div class="sauceDetail-commentTime">{{recipe.created_at | timeago}}</div>

	<ul class="recipeIngredients">
		<li class="recipeIngredient" ng-class="{selected: editMode && contains(ingredient)}" ng-repeat="ingredient in ingredients()">
			<div class="recipeIngredientColor" style="background-color: {{ingredient.color}}; border-color: {{ingredient.color}};"></div>
			<span class="recipeIngredientName" ng-click="editMode && toggle(ingredient)">{{ingredient.name}}</span>
		</li>
	</ul>

</div>

<h3 class="sauceDetail-header" ng-if="forks.length">versions</h3>
<ul class="sauceDetail-recipes" ng-if="forks.length">
	<li class="recipe" ng-repeat="fork in forks">
		<a class="recipeLink" ui-sref="detail({name: fork.name})">
			<span class="recipeName">{{fork | diff : recipe}}</span>
			<span class="recipeAuthor">{{fork.account.name}}</span>
		</a>
		<canvas class="recipeBackground" recipe="fork"></canvas>
	</li>
</ul>

<h3 class="sauceDetail-header" ng-if="photos.length">photos</h3>
<ul class="sauceDetail-photos" ng-if="photos.length">
	<li ng-repeat="photo in photos" class="sauceDetail-photo" style="background-image: url({{photo.image.url}})">
		<div class="sauceDetail-overlay">
			<div class="sauceDetail-photoAuthor">{{photo.account.name}}</div>
		</div>
	</li>
</ul>

<h3 class="sauceDetail-header" ng-if="comments.length">comments</h3>
<ul class="sauceDetail-comments" ng-if="comments.length">
	<li ng-repeat="comment in comments" class="sauceDetail-comment">
		<div class="sauceDetail-commentBody">{{comment.body}}</div>
		<div class="sauceDetail-commentAuthor">{{comment.account.name}}</div>
		<div class="sauceDetail-commentTime">{{comment.created_at | timeago}}</div>
	</li>
</ul>
